.btn {
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.06px;
    text-align: center;
    text-transform: uppercase;
    width: 186px;
    height: 52px;
    cursor: pointer;
    justify-content: center;
    padding-left: 0.8em;
    padding-right: 0.8em;

    &-github {
    	background-color: transparent;
    	border: solid 1px #ffffff;
    	color: #ffffff !important ; 
    }
}