/*
Add styles or override variables from the theme here.
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Custom colors
$color1: #336699ff !default;
$color2: #86bbd8ff !default;
$color3: #2f4858ff !default;
$color4: #028090ff !default;
$color5: #e4fde1ff !default;

$colors:
  (
    "lapis-lazuli": $color1,
    "dark-sky-blue": $color2,
    "charcoal": $color3,
    "metallic-seaweed": $color4,
    "nyanza": $color5,
  );

$dark: #121b28 !default;
$blue: $color1 !default;
$blue-light: $color2 !default;
$green-light: #26b793;

$gray: #6C757D !default;
$gray-light: #F8F9FA !default;

$primary: $color1;
$primary-light: lighten($primary, 75%) !default;
$secondary: $color2;
$success: #3772FF !default;
$info: $blue-light !default;
$warning: #ED6A5A !default;
$danger: #ED6A5A !default;
$white: #fff !default;
$light: $white !default;

table{
    width:100% !important;
}

.td-box, .td-content {
    a {
        color: $blue-light;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;

        &:hover {
            color: $blue;
        }
    }
}

.td-box--1 {
    background-color: $blue-light !important;
}

// Navigation bar
$navbar-dark-color: white;
$navbar-dark-hover-color: $color5 !default;
$navbar-dark-active-color: $color2 !default;
$navbar-dark-disabled-color: rgba($white, 0.25) !default;

footer.bg-dark {
    border-top: 1px solid $white;
    background-color: $color4 !important;
    padding-top: 1rem !important;
    min-height: 4rem !important;
    div.py-2 { 
        padding-top: 0 !important;
    }
}

.td-box .row {
    justify-content: space-around !important;
}

// Features box
.td-box--white {
    // Center-aligned bullets look bad.
    .text-center ul {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    div.mb-5:nth-child(3) ul {
        max-width: 20em;
    }
}
.section-head {
    font-family: 'Montserrat', sans-serif;
    color: $color4;
    font-weight: 700;
    padding: 0 0 1em;
    text-align: center;
}


.br-radius {
  border-radius: 4px !important;
}

.box-shadow {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1) !important;
}

.br-top-4 {
  border-top: 2px solid $primary !important;
}

.br-top-color1 {
  border-top-color: $color1 !important;
}
.br-top-color2 {
  border-top-color: $color2 !important;
}
.br-top-color3 {
  border-top-color: $color3 !important;
}
.br-top-color4 {
  border-top-color: $color4 !important;
}

.p-y-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.p-x-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.td-box a, .td-content a {
    color: $color4;
}

#main-features {
    .features-list {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-content: flex-start;
          margin: 0 20px;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;

        .feature-item {
          position: relative;
          display: flex;
          flex: 1 0 320px;
          flex-direction: column;
          overflow: hidden;
          min-height: 220px;
          border: 1px solid rgba(168,200,200,0.25);
          background-color: #F8F9FA;
          max-width: 340px;
          margin-top: 44px;
          margin: 42px auto 0;

          .feature-item {

            &-icon-box {
                width: 100%;
                display: flex;
                height: fit-content;
                justify-content: center;

                img {
                  height: 76px;
                }

                i {
                   font-size: 3.2em;
                   color: $blue;
                   margin-bottom: 20px;
                }
            }
            &-title-box {
                font-size: 24px!important;
                font-weight: 500;
                line-height: 1.5!important;
                font-family: 'Montserrat', sans-serif;
                color: $dark;
            }
            &-content-box {
                margin-left: 0;
                text-align: center;
            }
          }
        }
    }
}